In [1]:
import pandas as pd
df = pd.read_csv('Supply_Chain.csv')

In [2]:
df.head()

,loc_name,dc_city,division_name,dept_name,family_name,class_name,item,item_desc,av_cost,min_stock,...,in_transit_qty,default_wh,tabc,item_status,rtv_nrtv,stock_on_hand,total_soh,total_value,date,family_name.1
0,SM Vijayawada NBS Ongole,Vijayawada,Apparels,Fashion Accessories,Womens,Hair Accessories,102109995,SHOOINS BLACK MINI RUBBER BANDS -MR S01500 BLA...,12.5000,0.0,...,0.0,121,NaN,ACTIVE,NaN,0.0,0.0,0.0000,2023-03-13,Womens
1,SM Vijayawada NBS Ongole,Vijayawada,BDF,Bakery,Bread,Specialty Breads,100815208,More Fresh Cheese GarlicBread1 nos Pouch,20.0000,NaN,...,0.0,121,NaN,ACTIVE,NRTV,0.0,0.0,0.0000,2023-03-13,Bread
2,SM Vijayawada NBS Ongole,Vijayawada,Grocery Non Food,Personal Care & Cosmetics,Oral Care,Tooth Brush,102095234,Oral B OB Kids Tom&Jerry1s ORAL-B TOM & JERRY ...,55.5611,9.0,...,0.0,121,NaN,ACTIVE,NRTV,6.0,6.0,333.3666,2023-03-13,Oral Care
3,SM Vijayawada NBS Ongole,Vijayawada,Fresh,F&V,Fruit,Regular,100052373,Sweet Orange KG,56.4999,NaN,...,3.0,121,NaN,ACTIVE,NRTV,6.0,9.0,508.4991,2023-03-13,Fruit
4,SM Vijayawada NBS Ongole,Vijayawada,Grocery Non Food,Personal Care & Cosmetics,Skin Care,Body Care,100141345,Dove Essential Body Lotion 100 ml Bottle,177.8880,NaN,...,0.0,121,NaN,ACTIVE,NRTV,0.0,0.0,0.0000,2023-03-13,Skin Care

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11772 entries, 0 to 11771
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   loc_name        11772 non-null  object
 1   dc_city         11772 non-null  object
 2   division_name   11772 non-null  object
 3   dept_name       11772 non-null  object
 4   family_name     11772 non-null  object
 5   class_name      11772 non-null  object
 6   item            11772 non-null  int64
 7   item_desc       11772 non-null  object
 8   av_cost         11772 non-null  float64
 9   min_stock       5350 non-null   float64
 10  max_stock       5350 non-null   float64
 11  in_transit_qty  11772 non-null  float64
 12  default_wh      11772 non-null  int64
 13  tabc            0 non-null      float64
 14  item_status     11772 non-null  object
 15  rtv_nrtv        11108 non-null  object
 16  stock_on_hand   11772 non-null  float64
 17  total_soh       11772 non-null  float64
 18  total_value     11772 non-null  float64
 19  date            11772 non-null  object
 20  family_name.1   11772 non-null  object
dtypes: float64(8), int64(2), object(11)
memory usage: 1.9+ MB

In [4]:
df.describe()

,item,av_cost,min_stock,max_stock,in_transit_qty,default_wh,tabc,stock_on_hand,total_soh,total_value
count,1.177200e+04,11772.000000,5350.000000,5350.000000,11772.000000,11772.0,0.0,11772.000000,11772.000000,11772.000000
mean,1.009555e+08,104.953199,6.546355,6.555327,0.024669,121.0,NaN,7.159390,7.184058,211.495397
std,8.157334e+05,151.099041,24.874544,24.873819,1.030974,0.0,NaN,442.710823,442.711955,743.332003
min,1.000000e+08,0.010000,0.000000,0.000000,0.000000,121.0,NaN,-164.000000,-164.000000,-5129.920000
25%,1.001211e+08,30.000000,0.000000,0.000000,0.000000,121.0,NaN,0.000000,0.000000,0.000000
50%,1.008301e+08,64.167000,2.000000,2.000000,0.000000,121.0,NaN,0.000000,0.000000,0.000000
75%,1.018541e+08,128.898400,6.000000,6.000000,0.000000,121.0,NaN,2.000000,2.000000,125.730025
max,1.021240e+08,4100.000000,876.000000,876.000000,100.200000,121.0,NaN,48000.000000,48000.000000,22390.670400

In [5]:
df.isnull().sum()

loc_name              0
dc_city               0
division_name         0
dept_name             0
family_name           0
class_name            0
item                  0
item_desc             0
av_cost               0
min_stock          6422
max_stock          6422
in_transit_qty        0
default_wh            0
tabc              11772
item_status           0
rtv_nrtv            664
stock_on_hand         0
total_soh             0
total_value           0
date                  0
family_name.1         0
dtype: int64

median_value df [['min_stock'],['max_stock'],['tabc'],['rtv_nrtv']].median

In [30]:
!pip install pymysql sqlalchemy

Requirement already satisfied: pymysql in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (1.1.2)
Requirement already satisfied: sqlalchemy in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (2.0.45)
Requirement already satisfied: greenlet>=1 in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (from sqlalchemy) (4.15.0)

In [31]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (1.1.2)

In [38]:
import pandas as pd
df = pd.read_csv('Supply_Chain.csv')

In [39]:
from sqlalchemy import  create_engine

# my sql connection

username = "root"
password = "surendra%40123"
host = "localhost"
port = "3306"
database = "more"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}/{database}")

#write Dataframe to mysql



table_name = "chain"
df.to_sql(table_name, engine, if_exists="replace", index=False)

#read back sample

pd.read_sql("SELECT * FROM  CHAIN LIMIT 5;", engine)

,loc_name,dc_city,division_name,dept_name,family_name,class_name,item,item_desc,av_cost,min_stock,...,in_transit_qty,default_wh,tabc,item_status,rtv_nrtv,stock_on_hand,total_soh,total_value,date,family_name.1
0,SM Vijayawada NBS Ongole,Vijayawada,Apparels,Fashion Accessories,Womens,Hair Accessories,102109995,SHOOINS BLACK MINI RUBBER BANDS -MR S01500 BLA...,12.5000,0.0,...,0.0,121,None,ACTIVE,None,0.0,0.0,0.0000,2023-03-13,Womens
1,SM Vijayawada NBS Ongole,Vijayawada,BDF,Bakery,Bread,Specialty Breads,100815208,More Fresh Cheese GarlicBread1 nos Pouch,20.0000,NaN,...,0.0,121,None,ACTIVE,NRTV,0.0,0.0,0.0000,2023-03-13,Bread
2,SM Vijayawada NBS Ongole,Vijayawada,Grocery Non Food,Personal Care & Cosmetics,Oral Care,Tooth Brush,102095234,Oral B OB Kids Tom&Jerry1s ORAL-B TOM & JERRY ...,55.5611,9.0,...,0.0,121,None,ACTIVE,NRTV,6.0,6.0,333.3666,2023-03-13,Oral Care
3,SM Vijayawada NBS Ongole,Vijayawada,Fresh,F&V,Fruit,Regular,100052373,Sweet Orange KG,56.4999,NaN,...,3.0,121,None,ACTIVE,NRTV,6.0,9.0,508.4991,2023-03-13,Fruit
4,SM Vijayawada NBS Ongole,Vijayawada,Grocery Non Food,Personal Care & Cosmetics,Skin Care,Body Care,100141345,Dove Essential Body Lotion 100 ml Bottle,177.8880,NaN,...,0.0,121,None,ACTIVE,NRTV,0.0,0.0,0.0000,2023-03-13,Skin Care